openapi: 3.1.0
info:
  title: DataShare API
  description: |
    API for freelance and small business file sharing.
    It allows users to register, upload (private or public), retrieve an
    upload history, generate short lived download tokens and download files
    either directly or after a password protected unlock flow.
  version: 1.0.0
servers:
  - url: https://datashare.io
    description: Production server
  - url: http://localhost:8080
    description: Local development server (Spring Boot)

paths:
  /auth/register:
    post:
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            example:
              email: alice@example.com
              password: secret123
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          description: Invalid request (e.g., duplicate email)

  /auth/login:
    post:
      summary: Authenticate user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              email: alice@example.com
              password: secret123
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Invalid credentials

  /files/upload:
    post:
      summary: Get presigned URL for file upload (requires authentication)
      security:
        - httponlyBearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PresignedUploadRequest'
      responses:
        '201':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileMetadata'
        '400':
          description: File too large (max 1 GB) or invalid expiration date
        '401':
          description: unauthenticated (invalid or missing JWT)
  
  /files/my:
    get:
      summary: Get user upload history (owner only)
      security:
        - httponlyBearerAuth: []
      responses:
        '200':
          description: List of uploaded files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileMetadata'
        '401':
          description: Invalid or missing JWT

  /files/public/upload:
    post:
      summary: Get a presigned Upload URL for anonymous upload (no auth)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PresignedUploadRequest'
      responses:
        '201':
          description: Public file uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileMetadata'
        '400':
          description: File too large 

  /files/my/{token}:
    delete:
      summary: Delete a file (owner only)
      security:
        - httponlyBearerAuth: []
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: File deleted
        '401':
          description: Invalid token or User does not own the file

  /files/download/{token}:
    get:
      summary: Download a file (password protected files trigger a redirect).
      description: |
        * If the file is not password protected → stream the file (`200`).  
        * If it **is** password protected → return a **302 redirect** to the
          `/files/public/{token}/unlock` page. After the user validates the password
          the server issues a second redirect back to this endpoint with a
          temporary token that grants access.
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Binary file stream (download starts)
          content:
            application/octet-stream: {}
        '302':
          description: |
            Redirect to the unlock page. The `Location` header points to
             `/files/public/{token}/unlock`.
        '404':
          description: File not found or token expired.

  /files/download/{token}/unlock:
    post:
      summary: Submit password to unlock a protected file.
      description: |
        This endpoint is hit **via POST** (HTML form or JSON body).  
        If the supplied password matches the stored one, the service creates a
        short lived *access token* and redirects the client back to the download
        endpoint (`/files/public/{token}`) with that new token.
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordRequest'
      responses:
        '302':
          description: Redirect back to `/files/public/{token}` with a newly generated token.
        '400':
          description: Invalid request (missing password).
        '401':
          description: Wrong password.


components:
  securitySchemes:
    httponlyBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    # -----------------------------------------------------------------
    #  Generic error object
    # -----------------------------------------------------------------
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human readable error description
        status:
          type: integer
          description: HTTP status or internal error code
        errors:
          type: array
          items:
            type: string
          description: List of specific error details
        path:
          type: string
          description: Request path that generated the error
        timestamp:
          type: string
          format: date-time
          description: Time the error was generated (UTC)

    # -----------------------------------------------------------------
    #  Register / Login DTOs
    # -----------------------------------------------------------------
    RegisterRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
    RegisterResponse:
      type: object
      properties:
        message:
          type: string
        email:
          type: string
          format: email
        authorities:
          type: array
          items:
            type: string

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
    LoginResponse:
      type: object
      properties:
        message:
          type: string
        email:
          type: string
          format: email
        authorities:
          type: array
          items:
            type: string

    # -----------------------------------------------------------------
    #  Upload file DTO – used for both private and public uploads
    # -----------------------------------------------------------------
    PresignedUploadRequest:
      type: object
      description: |
        Payload sent when requesting a presigned URL.  
        * `filename` – file name.  
        * `contentType` – the file type.  
        * `size` – the file size.  
        * `expirationDays` – file expiration days.
      required:
        - filename
        - contentType
        - size
        - expirationDays
      properties:
        filename:
          type: string
        contentType:
          type: string
        size:
          type: number
        expirationDays:
          type: number

    # -----------------------------------------------------------------
    #  Password payload used by the unlock endpoint
    # -----------------------------------------------------------------
    PasswordRequest:
      type: object
      required:
        - password
      properties:
        password:
          type: string
          description: Password entered by the user.

    # -----------------------------------------------------------------
    #  Token‑related objects
    # -----------------------------------------------------------------
    TokenInfo:
      type: object
      properties:
        token:
          type: string
          description: Short lived access token.
        expiresAt:
          type: string
          format: date-time
          description: Expiration timestamp of the token.
        passwordProtected:
          type: boolean
          description: Indicates whether the associated file requires a password.

    # -----------------------------------------------------------------
    #  File metadata returned to the client
    # -----------------------------------------------------------------
    FileMetadata:
      type: object
      properties:
        id:
          type: number
        filename:
          type: string
          description: Original filename supplied by the uploader.
        size:
          type: number
          description: Size of the file in bytes.
        downloadUrl:
          type: string
          format: uri
          description: |
            URL that can be used to download the file.  
        expiresAt:
          type: string
          format: date-time
          description: Timestamp after which the file (or its link) is deleted.
        createdAt:
          type: string
          format: date-time
          description: Timestamp of file creation.

    # -----------------------------------------------------------------
    #  Registration / Login response examples (kept for reference)
    # -----------------------------------------------------------------
    ExampleRegisterResponse:
      type: object
      properties:
        message:
          type: string
        userId:
          type: string
          format: uuid
    ExampleLoginResponse:
      type: object
      properties:
        token:
          type: string
          description: JWT token string.
        expiresAt:
          type: string
          format: date-time
          description: Expiration timestamp of the token.
        expiresIn:
          type: number
          description: Duration in seconds before token expires (e.g. 3600)
