.upload-card {
  background: #ffffff !important;
  border-radius: 0 0 24px 24px;
  width: 100%;
  max-width: 420px;
  border-radius: 15px !important;
  overflow: hidden;
  padding: 0;
  box-shadow:
    0 20px 60px rgba(0, 0, 0, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.8);
}

.title-section {
  text-align: center;
  padding: 2.5rem 2rem 1rem;
}

.flex-1 {
  flex: 1;
}

.horizontal {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: right;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

mat-card-title {
  padding: 0;
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  color: #222020;
  margin: 0 !important;
  width: 100%;
}

mat-card-header {
  background: transparent !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 2rem 2rem 1rem !important;
  text-align: center !important;
}

::ng-deep .mat-mdc-card-header-text {
  width: 100% !important;
  margin-left: 0 !important;
  text-align: center !important;
}

::ng-deep .mdc-notched-outline {
  border: 1px solid #8d8b8b !important;
  background: transparent !important;
  border-radius: 12px;
  margin-top: 6px;
  margin-bottom: 10px;
}
::ng-deep .mdc-notched-outline * {
  border: none !important;
}

::ng-deep .mat-mdc-form-field-infix {
  padding: 24px 0 0 16px !important;
}

.full-width {
  width: 100%;
}

.btn-televerser {
  background: #f5cfbc !important;
  color: #b65a2c !important;
  border-radius: 12px !important;
  border: 1px solid #b65a2c !important;
  text-transform: none !important;
  font-weight: 400 !important;
  margin: auto;
  width: auto;
}

.btn-televerser:hover {
  box-shadow: 0 0 24px #bba79b !important;
}

.btn-charger {
  color: #b65a2c !important;
  border-radius: 12px !important;
  border: 1px solid #b65a2c !important;
  text-transform: none !important;
  font-weight: 400 !important;
  width: 100%;
}

.btn-charger:hover {
  box-shadow: 0 0 24px #bba79b !important;
}

.btn-copier {
  background: #f5cfbc !important;
  color: #b65a2c !important;
  border-radius: 12px !important;
  border: 1px solid #b65a2c !important;
  font-weight: 400 !important;
  margin: auto;
  width: auto;
  margin-top: 1rem;
}

.btn-copier:hover {
  box-shadow: 0 0 24px #bba79b !important;
}

mat-card-actions {
  display: flex !important;
  flex-direction: column !important;
  gap: 0.5rem !important;
  align-items: center !important;
  width: 100%;
}

.link {
  background-color: #e7e3e3;
  width: 100%;
  height: 1.5rem;
  border-radius: 6px;
  padding: 10px 0;
  a {
    color: #b65a2c;
    padding-left: 12px;
  }
}

.file-preview {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.file-info-text {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
