.btn-connecter {
  background-color: #1b1a1a !important;
  color: #ffffff !important;
  border-radius: 8px !important;

  &:hover {
    background-color: #363535 !important;
    color: #ffffff !important;
  }
}

mat-toolbar {
  flex-direction: row;
  .logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1.4rem;
    font-weight: 500;
  }
  .spacer {
    flex: 1;
  }
}

.user {
  padding: 12px;
}
