@use '@angular/material' as mat;

html body {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
  background: linear-gradient(to bottom, #d7a084 0%, #aa3c3c 100%) !important;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.rounded-dialog .mat-mdc-dialog-container {
  border-radius: 16px;
  overflow: hidden;
}

@keyframes dialogFade {
  from {
    transform: scale(0.96);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.error-message {
  color: rgb(197, 14, 14);
  padding: 12px;
  margin: auto;
}

.success-message {
  color: rgb(14, 197, 57);
  padding: 12px;
  margin: auto;
}
