spring:
  application:
    name: datashare-api

  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${JWT_ISSUER}

server:
  port: ${API_PORT:8080}

jwt:
  expiration: 900

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true

logging:
  level:
    org.springframework.security: INFO
    org.hibernate.SQL: WARN
